@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap");

main {
  min-height: 78vh;
}

body {
  overflow-x: hidden;
}

.App {
  font-family: "Poppins";
  padding-bottom: 1rem;
  width: 60%;
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.mainFlexContainer {
  display: flex;
  flex-direction: column;
}

.siteTitle {
  color: #6188ff;
}

.notSelected {
  margin: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #797979;
  padding: 10px 15px;
  border-radius: 999em;
  color: rgb(182, 182, 182);
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
}

.selected {
  margin: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #6188ff;
  padding: 10px 15px;
  border-radius: 999em;
  color: #fff;
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
}

.notSelected:hover {
  background: #a7a7a7;
  cursor: pointer;
  color: white;
}

.submit {
  margin: 5px;
  display: inline-block;
  box-sizing: border-box;
  background: #6188ff;
  padding: 10px 15px;
  border-radius: 999em;
  color: #fff;
  transition: 0.15s background-color, 0.15s border-color, 0.15s color,
    0.15s fill;
}

.submit:hover {
  background: #84a3ff;
  cursor: pointer;
}

.DisplayResults {
  display: flex;
  flex-direction: column;
  background: #e0e0e0;
  border-radius: 15px;
  color: rgb(32, 32, 32);
}

.displayHeader {
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #bdbdbd;
  padding: 10px 15px;
  border-radius: 15px 15px 1px 1px;
  color: rgb(32, 32, 32);
}

.lineItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 15px;
  color: rgb(32, 32, 32);
}

.lineItem:hover {
  background: #a7a7a7;
  cursor: pointer;
  color: white;
}
